 <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <h3 style="color: #fc7c1f;">TOPREF INTRGRITY CONCEPT</h3>
      <p>Integrity is our banner.</p>
      <div class="social-links">
        <a href="#" class="twitter"><i class="bx bxl-whatsapp"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-google"></i></a>
        
      </div>
      <div class="copyright">
        &copy; Copyright <script>document.write(new Date().getFullYear());</script> <strong><span>HMW</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
       
        Designed by <a href="">Amen Technology</a>
      </div>
    </div>
  </footer><!-- End Footer -->